<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profilo di {{df["Nome"]}} {{df[" Cognome"]}} </h1>
    <p>Scuola: {{df[" Scuola"]}}</p>
    <p>Hobby: {{df[" Hobby"]}}</p>
    <a href="{{ url_for('modifica_profilo')}}">modifica profilo</a>

</body>
</html>
</body>
</html>